{% extends "app.twig" %}

{% block title %}Home
{% endblock %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<h1>
		<i class="far fa-newspaper"></i>
		{{greeting}}</h1>
	<div class="row display-flex row-cols">
		{% for post in posts %}
			<div class="col">
				<div class="card" style="min-width: 18rem; margin: 6px;">
					<img src="{{post.image}}" class="card-img-top" alt="{{post.title}}">
					<div class="card-body">
						<span class="badge bg-warning text-dark">{{post.type}}</span>
						<h5 class="card-title">{{post.title}}</h5>
						<p class="card-text">{{post.synopsis}}</p>
						<a href="post/show/{{post.id}}" class="btn btn-sm btn-outline-secondary">More</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
